<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.9.1")
  -->

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/quasar/dist/quasar.prod.css" rel="stylesheet" type="text/css">
</head>

  
<body>

<div id="app">

    {{ curso }}
    <q-select outlined v-model="curso" :options="cursos" option-value="id" option-label="nome" label="Curso" @update:model-value=loadTurmas >
    </q-select>

    {{ turma }}
    <q-select outlined v-model="turma" :options="turmas" option-value="id" option-label="nome" label="Turma" @update:model-value=loadHorarios >
    </q-select>

    {{ horario }}
    <q-select outlined v-model="horario" :options="horarios" option-value="id" option-label="nome" label="Horario" @update:model-value=loadSalas >
    </q-select>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/sql.js/dist/sql-wasm.js"></script>
<script src="https://unpkg.com/quasar/dist/quasar.umd.prod.js"></script>

<script>
  const app = Vue.createApp({
    setup () {
        return {}
    },
    data() {
      return {
        db: undefined,
        cursos: [],
        turmas: [],
        salas: [],
        horarios: [],
        curso: undefined,
        turma: undefined,
      }
    },
    mounted() {
        this.loadDb('salas.db')
    },
    methods: {
        loadDb(dbUrl){
            let self = this;

            // https://sql.js.org/dist/sql-wasm.wasm
            // Load sql.js WebAssembly file
            let config = {
                locateFile: () => "https://sql.js.org/dist/sql-wasm.wasm",
            };
            initSqlJs(config).then(function (SQL) {
                console.log("sql.js initialized ");

                fetch(dbUrl)
                .then(response => response.arrayBuffer())
                .then(buf => {
                    self.db = new SQL.Database(new Uint8Array(buf));
                    console.log("db loaded ");
                    self.loadCursos()
                });

            });

        },
        loadCursos(){
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT * FROM curso");
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.cursos.push(row);
            }
        },
        loadSalas(horario){
            console.log(horario)
            // TODO
            /*
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT * FROM sala");
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.salas.push(row);
            }
            */
        },
        loadTurmas(curso){
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT DISTINCT idCurso, Turma, Semestre FROM horario WHERE idCurso=:idCurso");
            stmt.bind({':idCurso': curso.id});
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.turmas.push({'id': row.Turma, 'nome' : curso.nome + "-" + row.Semestre });
            }
        },
        loadHorarios(turma){
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT * FROM horario WHERE Turma=:idTurma");
            stmt.bind({':idTurma': turma.id});
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.horarios.push({'id': row.id, 'nome' : row.Disciplina + "-" + row.Professor + "-" + row.faixaHoraria });
            }
        },
    }
    })

    app.use(Quasar)
    app.mount('#app')
</script>

<script>
</script>

</body>
</html>