<!DOCTYPE html>
<html>
<head>
    <title>SENAC - Cadê minha sala</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/quasar/dist/quasar.prod.css" rel="stylesheet" type="text/css">
</head>  
<body>
    <div id="app">
        
        <q-layout class="shadow-2 rounded-borders">

          <q-header>
            <q-toolbar>

              <q-avatar>
                <img src="https://cdn.quasar.dev/logo-v2/svg/logo-mono-white.svg">
              </q-avatar>
    
              <q-toolbar-title>
                Horários
              </q-toolbar-title>
    
              <q-btn flat round dense icon="whatshot" />
            </q-toolbar>
          </q-header>
    
          <q-page-container>
            <q-page padding>

                <q-select outlined v-model="unidade" :options="unidades" option-value="id" option-label="nome" label="Unidade" @update:model-value=loadCursos >
                </q-select>

                <br>

                <q-select outlined v-model="curso" :options="cursos" option-value="id" option-label="nome" label="Curso" @update:model-value=loadTurmas >
                </q-select>
            
                <q-select outlined v-model="turma" :options="turmas" option-value="id" option-label="nome" label="Turma" @update:model-value=loadHorarios >
                </q-select>
            
                <div v-for="(horario, index) in horarios">

                <br>

                <q-card bordered >
            
                    <q-item>
                        <q-item-section avatar>
                          <q-avatar>
                            <img :src="horario.professorInfo.photo">
                          </q-avatar>
                        </q-item-section>
                
                        <q-item-section>
                          <q-item-label>{{horario.Disciplina}}</q-item-label>
                          <q-item-label caption><a target="_blank" :href="horario.professorInfo.lattes">{{horario.Professor}}</a></q-item-label>
                        </q-item-section>
                      </q-item>
                
                    <q-card-section horizontal>
                      <q-card-section class="q-pt-xs">
                        <div class="text-overline">{{ diaDaSemana(horario.DiaSemana) }}</div>
                        <div class="text-caption text-grey">
                        Hoarário:
                        {{horario.horarios}}
                        <br>
                        Sala: 
                        {{horario.sala}}
                        </div>
                      </q-card-section>
              
                  </q-card>


                  </div>
            
            </q-page>
          </q-page-container>
        </q-layout>

</div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/sql.js/dist/sql-wasm.js"></script>
<script src="https://unpkg.com/quasar/dist/quasar.umd.prod.js"></script>

<script>
  const app = Vue.createApp({
    setup () {
        return {}
    },
    data() {
      return {
        db: undefined,

        unidades: [],
        cursos: [],
        turmas: [],
        salas: [],
        horarios: [],

        unidade: undefined,
        curso: undefined,
        turma: undefined,
      }
    },
    mounted() {
        this.loadSql((SQL) => this.loadDb(SQL, 'salas.db', this.loadUnidades));
    },
    methods: {
        loadSql(fnOk){
            // https://sql.js.org/dist/sql-wasm.wasm
            // Load sql.js WebAssembly file
            let config = {
                locateFile: () => "https://sql.js.org/dist/sql-wasm.wasm",
            };
            initSqlJs(config).then((SQL)=> {
                console.log("sql.js initialized ");
                fnOk(SQL)
            });
        },
        loadDb(SQL, dbUrl, fnOk){
                fetch(dbUrl)
                .then(response => response.arrayBuffer())
                .then(buf => {
                    this.db = new SQL.Database(new Uint8Array(buf));
                    console.log("db loaded");
                    fnOk()
                });
        },
        loadUnidades(){
            
            this.cursos = [];
            this.curso = undefined;

            const stmt = this.db.prepare("SELECT * FROM unidade");
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.unidades.push(row);
            }
        },
        loadCursos(unidade){
            this.cursos = [];
            this.curso = undefined;
            this.turmas = [];
            this.turma = undefined;
            this.horarios = [];


            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT * FROM curso where idUnidade=:idUnidade");
            stmt.bind({':idUnidade': unidade.id});
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.cursos.push(row);
            }
        },
        loadProfessor(nomeProfessor){
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT * FROM professor WHERE name LIKE :nomeProfessor");
            stmt.bind({':nomeProfessor': nomeProfessor});
            return stmt.step() 
            ?  stmt.getAsObject()
            : { name : "_Atribuição pendente" , lattes : "" , photo: "http://servicosweb.cnpq.br/wspessoa/servletrecuperafoto?tipo=1&id=empty"};
        },
        loadTurmas(curso){
            this.turmas = []
            this.horarios = []
            this.turma = undefined
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT DISTINCT idCurso, Turma, Semestre FROM horario WHERE idCurso=:idCurso");
            stmt.bind({':idCurso': curso.id});
            while(stmt.step()) {
                const row = stmt.getAsObject();
                this.turmas.push({'id': row.Turma, 'nome' : `${row.Semestre} (${row.Turma})` });
            }
        },
        loadHorarios(turma){
            this.horarios = []
            // Prepare an sql statement
            const stmt = this.db.prepare("SELECT GROUP_CONCAT(faixaHoraria) as horarios, DiaSemana, Disciplina, Professor, sala, Turma, Semestre, Curso FROM horario WHERE Turma=:idTurma GROUP BY DiaSemana, Disciplina, Professor, sala, Turma, Semestre, Curso");
            stmt.bind({':idTurma': turma.id});
            while(stmt.step()) {
                let row = stmt.getAsObject();
                row.professorInfo = this.loadProfessor(row.Professor)
                this.horarios.push(row);
            }
        },
        diaDaSemana(diaIndice) {
            return [
                    'Segunda',
                    'Terça',
                    'Quarta',
                    'Quinta',
                    'Sexta',
                    'Sábado',
                    'Domingo',
                ][diaIndice-1]
        }

    },
    })

    app.use(Quasar)
    app.mount('#app')
</script>

<script>
</script>

</body>
</html>